@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Lora&family=Noto+Serif&display=swap');

body { margin: 0px;
padding: 0px;
box-sizing: border-box;
overflow-x: hidden;
}

*{
    margin: 0px;
    padding: 0px;
}

/* Header---------------------------- */

header{
    font-family: 'Alkalami', serif;
    width: 100%;
    top:0px;
    height: 40px;
    background-color: #98c83e;
}

header ul{
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row wrap; 
    justify-content: space-between;
    align-items: center;
}

header ul li{
    padding: 5px 10px;
    display: inline;
    align-items: center; 
    }

header ul li a{
    color: black;
    text-decoration: none;
}

header ul i {
        display: inline;
    }

section .image img{ width: 120px;
display: inline; }

/* Nav---------------------------- */

#nav {
    font-family: 'Alkalami', serif;
    background-color:rgb(255, 255, 255);
    background-color:rgba(0,0,0,0.7);  
    font-size: 23px;
    color: #98c83e;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 50%;
    position: sticky;
    top: 0px;
    width: 100%;
    line-height: 70px;
    height: 70px;
}

#nav ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}
#nav ul li a{
    padding: 0px 25px;
    text-decoration: none;
    color: #98c83e;
    font-size: 23px;
}

#nav ul li a:hover{
    color: #98c83e;
    font-size: 26px;
    cursor: pointer;
}

#nav ul li:hover{
    color: #98c83e;
    font-size: larger;
    cursor: pointer;
}

#nav img{
    animation-name: image;
    padding-left: 20px;
    padding-top: 9px;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#nav .hamburger div{
    height: 3px;
    width: 25px;
    background-color: #fff;
    margin: 5px;
    cursor: pointer;
    display: none;
}

@keyframes image{
    
    from{
    transform: rotateX(0deg);
    }
    to{
    transform: rotateX(360deg);
    }
}

#newest{
    font-size: 35px;
    color: #98c83e;
    padding-left: 25px;
}


/* Cars---------------------------- */

.cars{
    font-family: 'Alkalami', serif;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}
.car{
    border: 2px solid #98c83e;
    border-radius: 5px  ;
    margin: 5px;
    transition: 0.5s ease-in-out;
    height: 800px;
}
.car:hover{
    box-shadow: -9px 9px 29px -3px rgba(0,0,0,0.75);
    cursor: pointer;
    border-color: rgba(112, 111, 111, 0.568);
}
.car ul{
    border-bottom: 0.5px solid #98c83e !important;
}
.cars ul li,i{
    padding: 5px;
}
.cars ul{
    background-color: #f7f7f7;  
    display: flex;
    flex-flow:column ;
    justify-content: space-between;
    border:2px solid #f7f7f7;
    border-radius: 5px;
    padding-left: 20px;
    list-style-type: none;   
}

.cars img{
    /* height: 300px; */
    width:500px;
    /* padding-left: 50px; */
    /* height: auto; */
    /* padding: 30px; */
    padding-top: 20px;
}
.car img{
    width: 500px;
    padding-left: 35px;
    height: 380px;
    animation:carAnimation 1.5s ease-in;
}
@keyframes carAnimation {
    0%{
    transform: scale(0);
    }45%{
    transform: scale(1.3);
    }65%{
    transform: scale(0.6);
    }85%{
    transform: scale(1.2);
    }95%{
    transform: scale(0.8);
    }
    100%{
    transform: scale(1);
    }
}

/* Services---------------------------- */

#services{
    font-size: larger;
    font-family: 'Alkalami', serif;
    background-color: black;
    color: white;
    height: 650px;
    width: 100%;
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column;   
    padding: 10px; */
    display: grid;
    grid-template-rows: 3fr,1fr;
    text-align: center;
    padding-top: 10px;
}

/* Reasons---------------------------- */

#reasons{
    background-image:
    url(https://onlinerentacar-ks.com/wp-content/uploads/2019/09/carrental2-sectionbg1.jpg);
    font-family: 'Alkalami', serif;
    height: 1000px;
    background-repeat: no-repeat;
    background-size: cover;
}
#reasons h2{
    font-family: 'Alkalami', serif;
    font-size: 50px;
    padding-top: 330px;
    padding-left: 400px;
    color:white;
}

#reasons .why{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 50px;
}

#reasons .why .paragraph {color: rgb(255, 255, 255);
width: 260px;
font-size: 23px;
}

#reasons .paragraph strong{
    color:#98c83e ;
    font-size: 30px;
    padding: 10px;
}

/* Order---------------------------- */

#order{
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(222, 218, 218, 0.8)), url(https://www.revv.co.in/blogs/wp-content/uploads/2020/09/Car-Rentals-in-India.jpg);
    background-size: cover;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height: 1400px;
}

#order form{
    padding: 50px;
    margin: 40px;
    background-color: #00000062;
    border-radius: 8px;
    color: white;
    font-size: 20px;
    width: 950px;
    height: 1100px;
}

.container form #submit{
width: 200px;
font-size: 16px;
}

.container form #submit:hover{
    background-color: black;
    color:white;
    cursor: pointer;
    font-size: 18px;
    transform: scale(1.1);
}

#order form #booknow{
    font-size: 32px;
    border-bottom: 1px solid white;
}

#order .container form input{
    border: 1px solid black;
    padding: 5px;
    border-radius: 20px;
    margin: 2px;
}

.container form  p{
    margin-bottom: 12px !important;
}

#order .container #location,#Class,#fuel{
    border: 1px solid black;
    padding: 5px;
    border-radius: 20px;
    margin: 2px;  
}

/* RentaLoaction---------------------------- */

.rentalocation .location{
    width: 100%;
    text-align: center;
    padding-left: 18px;
    font-family: 'Alkalami', serif;  
    font-size: 17px;
}

.rentalocation #pictures{
    display: flex;
    justify-content: space-around;   
    margin-bottom: 25px;
}

.rentalocation #pictures .images { 
    padding: 20px;
    border-radius: 20px;
    width: 450px;
    color: #98c83e;
    font-size: 28px;
    text-align: center;
    transition: 0.5s ease-in-out;
}

.location h2{
    text-decoration: underline;
    font-size: 38px;
    color: #98c83e;
}

.location p{ 
    font-size: 20px;
}

.rentalocation #pictures .images:hover {
    box-shadow: -9px 9px 29px -3px rgba(0,0,0,0.75);
    cursor: pointer;
    border-color: rgba(112, 111, 111, 0.568);
}

.rentalocation #pictures .images h3{
    border-bottom: 2px solid #98c83e;
} 

.rentalocation #pictures .images img{ 
    width: 410px;
    overflow: none;
    border-radius: 20px;
}

.prefooter{
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
}

#h2iframe {
    text-align: center;
    color: #98c83e;
    font-size: 35px;
    padding-bottom: 15px;
}

#iframe{
    height: 450px;
    border-radius: 20px;
    box-shadow: -9px 9px 29px -3px rgba(0,0,0,0.75);
    cursor: pointer;
    width: 1200px;
    margin-bottom:20px
}

/* Footer---------------------------- */

#footer {
    height: 130px;
    background-color: #f7f7f7;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    
}

#footer .footer1 img{
    height: 120px;
}

#footer .footer2{
    color: black;
    font-size: larger;
}

#footer .footer2 a{
    color: black;
    text-decoration: none;
}

#footer .return a{
    text-decoration: none;
    font-size: 45px;
    color: #98c83e;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: 1px solid black;
    border-radius: 30px;  
    background-color: rgba(0, 0, 0, 0.7);
}

#footer .return a:hover{
    background-color: #98c83e;
    font-size: 45px;
    color: black;
}

#last{
    text-align: center;
    border-top:1px solid #98c83e ;
    color: #98c83e;
}









 /* Mobile---------------------------- */

    
@media (max-width:480px){

body { margin: 0px;
    padding: 0px;
    width: auto;
    box-sizing: border-box;
    }
    
    *{
        margin: 0px;
        padding: 0px;
    } 

    /* Header---------------------------- */
    
    header{
        width: auto;
        display: none;
        font-family: 'Alkalami', serif;
        top:0px;
        height: 40px;
        background-color: #98c83e;
    }

    
    
    header ul{
        height: 100%;
        display: flex;
        flex-flow: row wrap; 
        justify-content: space-between;
        align-items: center;
    }
    
    header ul li{
        padding: 5px 10px;
        display: inline;
        align-items: center; 
        }
    
    header ul li a{
        color: black;
        text-decoration: none;
    }
    
    header ul i {
            display: inline;
        }
    
    section .image img{ width: 120px;
    display: inline; }

    /* Nav----------------------------------  */
    
    #nav {
        font-family: 'Alkalami', serif;
        background-color:black;
        font-size: larger;
        color: #98c83e;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: sticky;
        top: 0px;
        width: auto;
        height: 45px;
    }

    #nav .image{
        width: 10%;
    }

    #nav .hamburger{
        margin-top: -3%;
    }

    #nav .hamburger div{
        margin: 3px;
        display: block;
        background-color:rgb(255, 255, 255);
    }
    

    #nav .mobilei #menu-bar{
        display: none;
        position: relative;
    }

    .nav-links {
        position: absolute;
        background: #fff;
        border-top: 1px solid black;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        justify-content: space-between;
        height: 60vh;
        border-radius:0px 0px 0px 20px ;
        top: 100%;
        right: 0%;
        background-color:rgb(255, 255, 255);
        background-color:rgba(0,0,0,0.7); 
        /* transform: translateX(100%); */
        opacity: 0;
        transition: 0.5s ease-in;
    }

    .navbar-active{
        /* transform: translateX(0%); */
        opacity: 1;
    }

    #menu-bar:checked .nav-bar{
        display: initial;
    }

    #nav .nav-bar ul li{
        width: 100%;
    }

    #nav .mobilei {
        display: initial;
        color: #98c83e;
        font-size: 20px;
        padding: 20px;
    }
    
    #nav img{
        width: 75px;
        padding-left: 20px;
        line-height: 50px;
        animation: none !important;
        }
    
    #nav .nav-bar #booknow a{
        text-decoration: none;
        padding: 5px 10px;
        border-radius: 60px;
        border: 1px solid grey;
        background-color: transparent;
        color: #98c83e;
    }
    #nav .nav-bar #booknow a:hover{
        background-color: #98c83e;
        color: black;
    }

    #newest{
        font-size: 30px;
        color: #98c83e;
        width: 300px;
        padding-left: 5%;
    }

    /* Cars---------------------------------- */
    
    .cars{
        font-family: 'Alkalami', serif;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        margin-top: 25px;
        width: auto;
    }
    .car{
        width: auto;
        height: auto;
        border: 2px solid #98c83e;
        border-radius: 8px  ;
        margin: 5px;
        box-shadow: -9px 9px 29px -3px rgba(0,0,0,0.75);
        border-color: rgba(112, 111, 111, 0.568);
    }

    .car img{
        width:auto;
        height: 280px;
        padding: 0px;
    }

    
    .car ul{
        border-bottom: 0.5px solid #98c83e !important;
    }
    .cars ul li,i{
        padding: 5px;
    }
    .cars ul{
        background-color: #f7f7f7;  
        display: flex;
        flex-flow:column ;
        justify-content: space-between;
        border:2px solid #f7f7f7;
        border-radius: 5px;
        padding-left: 20px;
        list-style-type: none;   
    }
    
    /* Services----------------------------------  */
    
    #services{
        font-size: 15px;
        font-family: 'Alkalami', serif;
        background-color: black;
        color: white;
        height: 600px;
        width: auto;
        text-align: center;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: column;
        border-top-right-radius: 20px; 
        border-top-left-radius: 20px;
        padding: 0px 10px;
    }

    /* Reasons----------------------------------  */
    
    #reasons{
        background-image:linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)) ,
        url(https://onlinerentacar-ks.com/wp-content/uploads/2019/09/carrental2-sectionbg1.jpg);
        font-family: 'Alkalami', serif;
        width: auto;
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
        padding-bottom: 40px;
    }
    #reasons h2{
        display:none;
    }
    
    #reasons .why{
        display: flex;
        flex-flow: column wrap;
        width: auto;
        height: 1000px;
        padding-bottom: 100px;
        text-align: center;

    }
    
    #reasons .why .paragraph {color: rgb(255, 255, 255);
    width: auto;
    font-size: 17px;
    }

    #reasons .why .paragraph img{
        text-align: center;

    }
    
    #reasons .paragraph strong{
        color:#98c83e ;
        font-size: 23px;
    }

    /* Order----------------------------------  */

    #order{
        background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(222, 218, 218, 0.8)), url(https://www.revv.co.in/blogs/wp-content/uploads/2020/09/Car-Rentals-in-India.jpg);
        background-repeat: no-repeat;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        height: auto;
        width: auto;
    }

    #order .container{
        padding: 20px 0px;
    }
    
    #order form{
        margin: 0px;
        padding: 15px;
        border-radius: 15px;
        color: white;
        font-size: 10px;
        width: auto;
        height: auto;
    }
    
    .container form #submit{
    width: 100px;
    font-size: 13px;
    padding-bottom: 10px;
    }
    
    #order form #booknow{
        margin-bottom: 10px;
        font-size: 27px;
        border-bottom: 1px solid white;
    }
    
    #order .container form input{
        border: 1px solid black;
        padding: 2px;
        border-radius: 20px;
        margin: 2px;
    }
    
    .container form  p{
        margin-bottom: 5px !important;
        font-size: 17px;
    }
    
    #order .container #location,#Class,#fuel{
        border: 1px solid black;
        padding: 3px;
        border-radius: 20px;
        margin: 2px;  
    }

    form label {
        font-size: 17px;
    }


    /* Rent-Location----------------------------------  */

    .rentalocation{
        width: auto;
    }

    .rentalocation .location{
        font-family: 'Alkalami', serif;  
        font-size: 17px;
        padding: 0px;
        text-align: center;
    }
    
    .rentalocation #pictures{
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        justify-items: center;
        width: auto;
    }
    
    .rentalocation #pictures .images { 
        border-radius: 20px;
        width: auto;
        padding:0px ;
        color: #98c83e;
        font-size: 28px;
        text-align: center;
    }
    
    .rentalocation img{
        margin: 5px;
    }
    .location h2{
        text-decoration: underline;
        font-size: 30px;
        color: #98c83e;
    }
    
    .location p{ 
        font-size: 18px;
        width: auto;
    }
    
    .rentalocation #pictures .images h3{
        border-bottom: 2px solid #98c83e;
        font-size: 27px;
    } 
    
    .rentalocation #pictures .images img{ 
        width: 350px;
        border-radius: 20px;
    }
    
    #h2iframe {
        text-align: center;
        color: #98c83e;
        font-size: 27px;
        border-bottom: 2px solid #98c83e;
        margin-bottom: 20px;
    }
    
    #iframe{
        align-items: center;
        width:90%;
        padding: 10px;
        margin-bottom:20px
    }

    /* footer----------------------------------  */
    
    #footer {
        margin-top: 10px;
        height: 60px;
        background-color: white;
        display:flex;
        flex-flow: row;
        height: 110px;
        justify-content: space-around;
        align-items: center;
    }
    
    #footer .footer1 img{
        height: 60px;
        margin-right: 10px;
    }
    
    #footer .footer2{
        color: black;
        font-size: 15px;
    }
    
    #footer .footer2 a{
        color: black;
        text-decoration: none;
    }
    
    #footer .return a{
        text-decoration: none;
        font-size: 25px;
        color: black;
        position: fixed;
        bottom: 10px;
        border: 1px solid black;
        border-radius: 100px;
        background-color: #98c83e;
    }
    
    #footer .return a:hover{
        background-color: #98c83e;
    }
    
    #last{
        text-align: center;
        border-top:1px solid #98c83e ;
        color: #98c83e;
        font-size: smaller;
    }
}